body {
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  background-image: url('assets/emotion-wheel-background.png');
  background-size: 800px 800px; 
  background-position: center top; 
  background-repeat: no-repeat; 
}

h1 {
  padding: 6px 14px;
  color: #333;
}

.button-11 {
  padding: 6px 14px;
  border-radius: 6px;
  color: #3D3D3D;
  background: #fff;
  border: none;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
}

#cursor {
  width: 20px;
  height: 20px;
  background-color: rgb(252, 210, 86);
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
}

#sticker-area {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.sticker {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
}

/* Gradient bar for potentiometer control */
#color-bar {
  position: fixed;
  bottom: 0;
  left: 5%;
  width: 90%;
  height: 20px;
  margin: 10px auto;
  background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, violet, red);
  border-radius: 5px;
}

#wiper {
  width: 10px;
  height: 20px;
  background-color: transparent;
  position: absolute;
  top: -2px;
  border-radius: 2px;
  border: 2px solid rgb(234, 232, 232);
}